@model IEnumerable<Dictionary.Entities.Word>

@{
    ViewData["Title"] = "Index";
}

<div class="main">
    <div class="content">

        <h1>Admin Panel</h1>

        <p>
            <a class="btn btn-primary" asp-action="Create">Add new word</a>
        </p>


        <div class="d-flex justify-content-center">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PlText)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UaText)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Transcription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImagePath)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PlText)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UaText)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Transcription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImagePath)
                            </td>
                            <td>
                                <a class="btn btn-sm btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
